     <!-- ================= -->
      <!-- Buy Milk -->
      <!-- ================= -->
      <div class="section-title" id="BuyMilk">
        <h2>Buy Milk</h2>
        <!-- <p style="font-size: 22px;"> Add money to your E-Wallet to have a public travel without disruption</p> -->
      </div>
    
      <form action="http://127.0.0.1:5000/submitbuymilk" method="post" id="BuyMilk">
        <div class="form-group ">
          <label for="FarmarID">Farmer ID:</label>
          <input type="text" id="FID" name="FID" placeholder="Enter Farmer ID ....">
        </div>
        <div class="form-group">
          <label for="Quantity"> Quantity</label>
          <input type="text" id="Quantity" name="Quantity" placeholder="Quantity....">
        </div>
        <div class="form-group">
          <label for="Amount"> Amount:</label>
          <input type="text" id="Amount" name="Amount" placeholder="Enter Amount....">
        </div>
    
    
        <br><br>
        <div style="padding-left: 190px;">
          <button type="submit">Submit</button>
        </div>
      </form>