 <!-- ================= -->
  <!-- Register Farmer -->
  <!-- ================= -->
  <div class="section-title" id="Register-Farmer">
    <h2>Register Farmer</h2>
  </div>

  <form action="http://127.0.0.1:5000/regfar" method="post" >
    <div class="form-group" id="form-group" >
      <label for="name">Name:</label>
      <input  type="text" id="name" name="name" placeholder="Your name..."><br>
    </div>
    <div class="form-group" id="form-group" >
      <label for="MobileNumber">Mobile Number:</label>
      <input  type="text" id="MobileNumber" name="MobileNumber" placeholder="Your Mobile Number..."><br>
    </div>
    <div class="form-group">
      <label for="accno"> Account No:</label>
      <input type="text" id="Accno" name="Accno" placeholder="Your Account No...">
    </div>
    <div class="form-group">
      <label for="IFSC">IFSC:</label>
      <input type="text" id="IFSC" name="IFSC" placeholder="Your IFSC no...">
    </div>
    <div class="form-group">
      <label for="Branch">Branch:</label>
      <input type="text" id="branch" name="branch" placeholder="Your bank branch...">
    </div>

    <br><br>
    <div style="padding-left: 250px;">
      <button type="submit">Submit</button>
    </div>
  </form>
