<!-- Product Productions -->
<div class="section-title" id="Product-Prices">
  <h2>Products Productions</h2>
</div>


<form action="http://127.0.0.1:5000/productproduction" method="post"id="Product-Prices">
 
  <div class="form-group">
      <label for="MilkCM500">OASIS MILK CM 500 ML: </label>
      <input type="text" id="MilkCM500" name="MilkCM500" placeholder="Quantity....">
  </div>

    <div class="form-group">
      <label for="MilkCM200">OASIS MILK CM 200 ML: </label>
      <input type="text" id="MilkCM200" name="MilkCM200" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="MilkTM500">OASIS MILK TM 500 ML: </label>
      <input type="text" id="MilkTM500" name="MilkTM500" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="MilkTM200">OASIS MILK TM 200 ML : </label>
      <input type="text" id="MilkTM200" name="MilkTM200" placeholder="Quantity....">
    </div> 

    <div class="form-group">
      <label for="Lassi200">OASIS LASSI 200 ML:</label>
      <input type="text" id="Lassi200" name="Lassi200" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="LassiCUP200">OASIS LASSI CUP 200 ML:</label>
      <input type="text" id="LassiCUP200" name="LassiCUP200" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="LassiMANGOCUP200">OASIS LASSI MANGO CUP 200 ML:</label>
      <input type="text" id="LassiMANGOCUP200" name="LassiMANGOCUP200" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Dahi200">OASIS DAHI 200 ML:</label>
      <input type="text" id="Dahi200" name="Dahi200" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Dahi500">OASIS DAHI 500 ML:</label>
      <input type="text" id="Dahi500" name="Dahi500" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Dahi2LT">OASIS DAHI 2 LTR 3.0:</label>
      <input type="text" id="Dahi2LT" name="Dahi2LT" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Dahi5LT">OASIS DAHI 5 LTR 3.0:</label>
      <input type="text" id="Dahi5LT" name="Dahi5LT" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Dahi10LT">OASIS DAHI 10 LTR 3.0:</label>
      <input type="text" id="Dahi10LT" name="Dahi10LT" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Dahi2LT15">OASIS DAHI 2 LTR 1.5:</label>
      <input type="text" id="Dahi2LT15" name="Dahi2LT15" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Dahi5LT15">OASIS DAHI 5 LTR 1.5:</label>
      <input type="text" id="Dahi5LT15" name="Dahi5LT15" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Dahi10LT15">OASIS DAHI 10 LTR 1.5:</label>
      <input type="text" id="Dahi10LT15" name="Dahi10LT15" placeholder="Quantity....">
    </div>
        
    <div class="form-group">
      <label for="Buttermilk">OASIS BUTTER MILK 500 ML:</label>
      <input type="text" id="Buttermilk" name="Buttermilk" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Khova500">OASIS KHOVA 500 GM:</label>
      <input type="text" id="Khova500" name="Khova500" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Khoya1000">OASIS KHOVA 1000 GM:</label>
      <input type="text" id="Khoya1000" name="Khoya1000" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Shrikhand100">OASIS SHRIKHAND 100 GM:</label>
      <input type="text" id="Shrikhand100" name="Shrikhand100" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Shrikhand250">OASIS SHRIKHAND 250 GM:</label>
      <input type="text" id="Shrikhand250" name="Shrikhand250" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Ghee200">OASIS GHEE 200 ML :</label>
      <input type="text" id="Ghee200" name="Ghee200" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Ghee500">OASIS GHEE 500 ML :</label>
      <input type="text" id="Ghee500" name="Ghee500" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Ghee15LT">OASIS GHEE 15 LTR:</label>
      <input type="text" id="Ghee15LT" name="Ghee15LT" placeholder="Quantity....">
    </div>
    
    <div class="form-group">
      <label for="Paneerloose">PANEER LOOSE:</label>
      <input type="text" id="Paneerloose" name="Paneerloose" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="khovaloose">KHOVA LOOSE:</label>
      <input type="text" id="khovaloose" name="khovaloose" placeholder="Quantity....">
    </div>
   


    <br><br>
    <div style="padding-left: 190px;">
      <button type="submit">Submit</button>
    </div>
  </form>