  <!-- Pay Farmer -->
  <div class="section-title" id="Pay-Farmer">
    <h2>Pay Farmer</h2>
  </div>

  <form action="http://127.0.0.1:5000/submitpayfarmer" method="post" id="Pay-Farmer">
    <div class="form-group">
      <label for="farmertokenid">Farmer's Token ID:</label>
      <input type="text" id="farmertokenid" name="farmertokenid" placeholder="Enter farmer's token id...">
    </div>

    <div class="form-group">
      <label for="Amount">Amount:</label>
      <input type="text" id="amount" name="amount">

    </div>
    <br><br>
    <div class="bcontainer" style="padding-left: 200px;">
        <!--button  type="see amount">See Amount</button-->
            <button type="submit">Pay</button>
    </div>

   
  </form>