<!-- Product Prices -->
<div class="section-title" id="Product-Prices">
    <h2>Product Prices</h2>
  </div>
  
  <form action="http://127.0.0.1:5000/productprices" method="post" id="Product-Prices">
    <div class="form-group">
      <label for="vendorId">Vendor's ID:</label>
      <input type="text" id="vendorId" name="vendorId" placeholder="Enter vendor's name...">
    </div>
   
    <div class="form-group">
        <label for="MilkCM500Price">OASIS MILK CM 500 ML: </label>
        <input type="text" id="MilkCM500Price" name="MilkCM500Price" placeholder="Price....">
    </div>
  
      <div class="form-group">
        <label for="MilkCM200Price">OASIS MILK CM 200 ML: </label>
        <input type="text" id="MilkCM200Price" name="MilkCM200Price" placeholder="Price....">
      </div>
  
      <div class="form-group">
        <label for="MilkTM500Price">OASIS MILK TM 500 ML: </label>
        <input type="text" id="MilkTM500Price" name="MilkTM500Price" placeholder="Price....">
      </div>
  
      <div class="form-group">
        <label for="MilkTM200Price">OASIS MILK TM 200 ML : </label>
        <input type="text" id="MilkTM200Price" name="MilkTM200Price" placeholder="Price....">
      </div> 
  
      <div class="form-group">
        <label for="Lassi200Price">OASIS LASSI 200 ML:</label>
        <input type="text" id="Lassi200Price" name="Lassi200Price" placeholder="Price....">
      </div>
  
      <div class="form-group">
        <label for="LassiCUP200Price">OASIS LASSI CUP 200 ML:</label>
        <input type="text" id="LassiCUP200Price" name="LassiCUP200Price" placeholder="Price....">
      </div>
  
      <div class="form-group">
        <label for="LassiMANGOCUP200Price">OASIS LASSI MANGO CUP 200 ML:</label>
        <input type="text" id="LassiMANGOCUP200Price" name="LassiMANGOCUP200Price" placeholder="Price....">
      </div>
  
      <div class="form-group">
        <label for="Dahi200Price">OASIS DAHI 200 ML:</label>
        <input type="text" id="Dahi200Price" name="Dahi200Price" placeholder="Price....">
      </div>
  
      <div class="form-group">
        <label for="Dahi500Price">OASIS DAHI 500 ML:</label>
        <input type="text" id="Dahi500Price" name="Dahi500Price" placeholder="Price....">
      </div>
  
      <div class="form-group">
        <label for="Dahi2LTPrice">OASIS DAHI 2 LTR 3.0:</label>
        <input type="text" id="Dahi2LTPrice" name="Dahi2LTPrice" placeholder="Price....">
      </div>
  
      <div class="form-group">
        <label for="Dahi5LTPrice">OASIS DAHI 5 LTR 3.0:</label>
        <input type="text" id="Dahi5LTPrice" name="Dahi5LTPrice" placeholder="Price....">
      </div>
  
      <div class="form-group">
        <label for="Dahi10LTPrice">OASIS DAHI 10 LTR 3.0:</label>
        <input type="text" id="Dahi10LTPrice" name="Dahi10LTPrice" placeholder="Price....">
      </div>
  
      <div class="form-group">
        <label for="Dahi2LTPrice5">OASIS DAHI 2 LTR 1.5:</label>
        <input type="text" id="Dahi2LTPrice" name="Dahi2LTPrice15" placeholder="Price....">
      </div>
  
      <div class="form-group">
        <label for="Dahi5LTPrice15">OASIS DAHI 5 LTR 1.5:</label>
        <input type="text" id="Dahi5LTPrice15" name="Dahi5LTPrice15" placeholder="Price....">
      </div>
  
      <div class="form-group">
        <label for="Dahi10LTPrice15">OASIS DAHI 10 LTR 1.5:</label>
        <input type="text" id="Dahi10LTPrice15" name="Dahi10LTPrice15" placeholder="Price....">
      </div>
          
      <div class="form-group">
        <label for="ButtermilkPrice">OASIS BUTTER MILK 500 ML:</label>
        <input type="text" id="ButtermilkPrice" name="ButtermilkPrice" placeholder="Price....">
      </div>
  
      <div class="form-group">
        <label for="Khova500Price">OASIS KHOVA 500 GM:</label>
        <input type="text" id="Khova500Price" name="Khova500Price" placeholder="Price....">
      </div>
  
      <div class="form-group">
        <label for="Khoya1000Price">OASIS KHOVA 1000 GM:</label>
        <input type="text" id="Khoya1000Price" name="Khoya1000Price" placeholder="Price....">
      </div>
  
      <div class="form-group">
        <label for="Shrikhand100Price">OASIS SHRIKHAND 100 GM:</label>
        <input type="text" id="Shrikhand100Price" name="Shrikhand100Price" placeholder="Price....">
      </div>
  
      <div class="form-group">
        <label for="Shrikhand250Price">OASIS SHRIKHAND 250 GM:</label>
        <input type="text" id="Shrikhand250Price" name="Shrikhand250Price" placeholder="Price....">
      </div>
  
      <div class="form-group">
        <label for="Ghee200Price">OASIS GHEE 200 ML :</label>
        <input type="text" id="Ghee200Price" name="Ghee200Price" placeholder="Price....">
      </div>
  
      <div class="form-group">
        <label for="Ghee500Price">OASIS GHEE 500 ML :</label>
        <input type="text" id="Ghee500Price" name="Ghee500Price" placeholder="Price....">
      </div>
  
      <div class="form-group">
        <label for="Ghee15LTPrice">OASIS GHEE 15 LTR:</label>
        <input type="text" id="Ghee15LTPrice" name="Ghee15LTPrice" placeholder="Price....">
      </div>
      
      <div class="form-group">
        <label for="PaneerloosePrice">PANEER LOOSE:</label>
        <input type="text" id="PaneerloosePrice" name="PaneerloosePrice" placeholder="Price....">
      </div>
  
      <div class="form-group">
        <label for="khovaloosePrice">KHOVA LOOSE:</label>
        <input type="text" id="khovaloosePrice" name="khovaloosePrice" placeholder="Price....">
      </div>
     
  
  
      <br><br>
      <div style="padding-left: 190px;">
        <button type="submit">Submit</button>
      </div>
    </form>