<!-- Raw Material with price-->
<div class="section-title" id="Raw Material">
  <h2>Add Raw Materials and Price</h2>
</div>

<form action="http://127.0.0.1:5000/submitrawmaterial" method="post" id="Raw Material">
 
  <div class="form-group">
      <label for="MilkCM500Role">OASIS MILK CM 500 ML Role: </label>
      <input type="text" id="MilkCM500RolePrice" name="MilkCM500RolePrice" placeholder="Price....">
      <input type="text" id="MilkCM500RoleQuan" name="MilkCM500RoleQuan" placeholder="Quantity....">
      
  </div>

    <div class="form-group">
      <label for="MilkCM200Role">OASIS MILK CM 200 ML Role: </label>
      <input type="text" id="MilkCM200RolePrice" name="MilkCM200RolePrice" placeholder="Price....">
      <input type="text" id="MilkCM200RoleQuan" name="MilkCM200RoleQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="MilkTM500Role">OASIS MILK TM 500 ML Role: </label>
      <input type="text" id="MilkTM500RolePrice" name="MilkTM500RolePrice" placeholder="Price....">
      <input type="text" id="MilkTM500RoleQuan" name="MilkTM500RoleQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="MilkTM200Role">OASIS MILK TM 200 ML Role : </label>
      <input type="text" id="MilkTM200RolePrice" name="MilkTM200RolePrice" placeholder="Price....">
      <input type="text" id="MilkTM200RoleQuan" name="MilkTM200RoleQuan" placeholder="Quantity....">
    </div> 

    <div class="form-group">
      <label for="Lassi200Role">OASIS LASSI 200 ML Role:</label>
      <input type="text" id="Lassi200RolePrice" name="Lassi200RolePrice" placeholder="Price....">
      <input type="text" id="Lassi200RoleQuan" name="Lassi200RoleQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="LassiCUP200cup">OASIS LASSI CUP 200 ML Cup:</label>
      <input type="text" id="LassiCUP200cupPrice" name="LassiCUP200cupPrice" placeholder="Price....">
      <input type="text" id="LassiCUP200cupQuan" name="LassiCUP200cupQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="LassiMANGOCUP200cup">OASIS LASSI MANGO CUP 200 ML Cup:</label>
      <input type="text" id="LassiMANGOCUP200cupPrice" name="LassiMANGOCUP200cupPrice" placeholder="Price....">
      <input type="text" id="LassiMANGOCUP200cupQuan" name="LassiMANGOCUP200cupQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Dahi200MLRole">OASIS DAHI 200 ML Role:</label>
      <input type="text" id="Dahi200MLRolePrice" name="Dahi200MLRolePrice" placeholder="Price....">
      <input type="text" id="Dahi200MLRoleQuan" name="Dahi200MLRoleQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Dahi500MLRole">OASIS DAHI 500 ML Role:</label>
      <input type="text" id="Dahi500MLRolePrice" name="Dahi500MLRolePrice" placeholder="Price....">
      <input type="text" id="Dahi500MLRoleQuan" name="Dahi500MLRoleQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Dahi2LTBucket">OASIS DAHI 2 LTR 3.0 Bucket:</label>
      <input type="text" id="Dahi2LTBucketPrice" name="Dahi2LTBucketPrice" placeholder="Price....">
      <input type="text" id="Dahi2LTBucketQuan" name="Dahi2LTBucketQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Dahi5LTBucket">OASIS DAHI 5 LTR 3.0 Bucket:</label>
      <input type="text" id="Dahi5LTBucketPrice" name="Dahi5LTBucketPrice" placeholder="Price....">
      <input type="text" id="Dahi5LTBucketQuan" name="Dahi5LTBucketQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Dahi10LTBucket">OASIS DAHI 10 LTR 3.0 Bucket:</label>
      <input type="text" id="Dahi10LTBucketPrice" name="Dahi10LTBucketPrice" placeholder="Price....">
      <input type="text" id="Dahi10LTBucketQuan" name="Dahi10LTBucketQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Dahi2LT1.5Bucket">OASIS DAHI 2 LTR 1.5 Bucket:</label>
      <input type="text" id="Dahi2LT1_5BucketPrice" name="Dahi2LT1_5BucketPrice" placeholder="Price....">
      <input type="text" id="Dahi2LT1_5BucketQuan" name="Dahi2LT1_5BucketQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Dahi5LT1.5Bucket">OASIS DAHI 5 LTR 1.5 Bucket:</label>
      <input type="text" id="Dahi5LT1_5BucketPrice" name="Dahi5LT1_5BucketPrice" placeholder="Price....">
      <input type="text" id="Dahi5LT1_5BucketQuan" name="Dahi5LT1_5BucketQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Dahi10LT1.5Bucket">OASIS DAHI 10 LTR 1.5 Bucket:</label>
      <input type="text" id="Dahi10LT1_5BucketPrice" name="Dahi10LT1_5BucketPrice" placeholder="Price....">
      <input type="text" id="Dahi10LT1_5BucketQuan" name="Dahi10LT1_5BucketQuan" placeholder="Quantity....">
    </div>
        
    <div class="form-group">
      <label for="ButtermilkRole">OASIS BUTTER MILK 500 ML Role:</label>
      <input type="text" id="ButtermilkRolePrice" name="ButtermilkRolePrice" placeholder="Price....">
      <input type="text" id="ButtermilkRoleQuan" name="ButtermilkRoleQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Khova500Tin">OASIS KHOVA 500 GM Tin:</label>
      <input type="text" id="Khova500TinPrice" name="Khova500TinPrice" placeholder="Price....">
      <input type="text" id="Khova500TinQuan" name="Khova500TinQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Khoya1000Tin">OASIS KHOVA 1000 GM Tin:</label>
      <input type="text" id="Khoya1000TinPrice" name="Khoya1000TinPrice" placeholder="Price....">
      <input type="text" id="Khoya1000TinQuan" name="Khoya1000TinQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Shrikhand100Tin">OASIS SHRIKHAND 100 GM Tin:</label>
      <input type="text" id="Shrikhand100TinPrice" name="Shrikhand100TinPrice" placeholder="Price....">
      <input type="text" id="Shrikhand100TinQuan" name="Shrikhand100TinQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Shrikhand250Tin">OASIS SHRIKHAND 250 GM Tin:</label>
      <input type="text" id="Shrikhand250TinPrice" name="Shrikhand250TinPrice" placeholder="Price....">
      <input type="text" id="Shrikhand250TinQuan" name="Shrikhand250TinQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Ghee200Tin">OASIS GHEE 200 ML Tin :</label>
      <input type="text" id="Ghee200TinPrice" name="Ghee200TinPrice" placeholder="Price....">
      <input type="text" id="Ghee200TinQuan" name="Ghee200TinQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Ghee500Tin">OASIS GHEE 500 ML Tin:</label>
      <input type="text" id="Ghee500TinPrice" name="Ghee500TinPrice" placeholder="Price....">
      <input type="text" id="Ghee500TinQuan" name="Ghee500TinQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Ghee15LTTin">OASIS GHEE 15 LTR Tin:</label>
      <input type="text" id="Ghee15LTTinPrice" name="Ghee15LTTinPrice" placeholder="Price....">
      <input type="text" id="Ghee15LTTinQuan" name="Ghee15LTTinQuan" placeholder="Quantity....">
    </div>
    
    <div class="form-group">
      <label for="Paneerloose">PANEER LOOSE:</label>
      <input type="text" id="PaneerloosePrice" name="PaneerloosePrice" placeholder="Price....">
      <input type="text" id="PaneerlooseQuan" name="PaneerlooseQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="khovaloose">KHOVA LOOSE:</label>
      <input type="text" id="khovaloosePrice" name="khovaloosePrice" placeholder="Price....">
      <input type="text" id="khovalooseQuan" name="khovalooseQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="LASSI CUP FOIL ">LASSI CUP FOIL :</label>
      <input type="text" id="LASSICUPFOILPrice" name="LASSICUPFOILPrice" placeholder="Price....">
      <input type="text" id="LASSICUPFOILQuan" name="LASSICUPFOILQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="IFF FLAVER MANGO  ">IFF FLAVER MANGO  :</label>
      <input type="text" id="IFFFLAVERMANGOPrice" name="IFFFLAVERMANGOPrice" placeholder="Price....">
      <input type="text" id="IFFFLAVERMANGOQuan" name="IFFFLAVERMANGOQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="IFF FLAVER VANILLA ">IFF FLAVER VANILLA :</label>
      <input type="text" id="IFFFLAVERVANILLAPrice" name="IFFFLAVERVANILLAPrice" placeholder="Price....">
      <input type="text" id="IFFFLAVERVANILLAQuan" name="IFFFLAVERVANILLAQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="CULTURE AMAZIKA ">CULTURE AMAZIKA :</label>
      <input type="text" id="CULTUREAMAZIKAPrice" name="CULTUREAMAZIKAPrice" placeholder="Price....">
      <input type="text" id="CULTUREAMAZIKAQuan" name="CULTUREAMAZIKAQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="CULTURE DANISKO ">CULTURE DANISKO :</label>
      <input type="text" id="CULTUREDANISKOPrice" name="CULTUREDANISKOPrice" placeholder="Price....">
      <input type="text" id="CULTUREDANISKOQuan" name="CULTUREDANISKOQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="CULTURE HR ">CULTURE HR :</label>
      <input type="text" id="CULTUREHRPrice" name="CULTUREHRPrice" placeholder="Price....">
      <input type="text" id="CULTUREHRQuan" name="CULTUREHRQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="LIQUID SOAP  ">LIQUID SOAP :</label>
      <input type="text" id="LIQUIDSOAPPrice" name="LIQUIDSOAPPrice" placeholder="Price....">
      <input type="text" id="LIQUIDSOAPQuan" name="LIQUIDSOAPQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="COS SODA  ">COS SODA :</label>
      <input type="text" id="COSSODAPrice" name="COSSODAPrice" placeholder="Price....">
      <input type="text" id="COSSODAQuan" name="COSSODAQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="KAOH  ">KAOH :</label>
      <input type="text" id="KAOHPrice" name="KAOHPrice" placeholder="Price....">
      <input type="text" id="KAOHQuan" name="KAOHQuan" placeholder="Quantity....">
    </div>
   
    <br><br>
    <div style="padding-left: 190px;">
      <button type="submit">Submit</button>
    </div>
  </form>