  <!-- Milk Bifurcation -->
  <div class="section-title" id="MilkBifurcation">
    <h2>Milk Bifurcation</h2>
    <!-- <p style="font-size: 22px;"> Add money to your E-Wallet to have a public travel without disruption</p> -->
  </div>

  <form id="MilkBifurcation" action="http://127.0.0.1:5000/milkbifurcation" method="post">
    <div class="form-group ">
      <label for="Loose Milk">Loose Milk:</label>
      <input type="text" id="Loose Milk" name="Loose Milk" placeholder="Loose Milk Quantity ....">
    </div>
    <div class="form-group">
      <label for="Milk for Product"> Milk for Products:</label>
      <input type="text" id="Milk for Product" name="Milk for Product" placeholder="Quantity....">
    </div>


    <br><br>
    <div style="padding-left: 190px;">
      <button type="submit">Submit</button>
    </div>
  </form>