<div class="section-title" id="Logistics">
    <h2>Add Logistics</h2>
    <!-- <p style="font-size: 22px;"> Add money to your E-Wallet to have a public travel without disruption</p> -->
  </div>

  <form action="http://127.0.0.1:5000/submitlogistics" method="post" id="Logistics">
    <div class="form-group ">
      <label for="title"> Title:</label>
      <input type="text" id="title" name="title" placeholder="Title..">
    </div>
    <div class="form-group">
      <label for="expense"> Expense:</label>
      <input type="text" id="expense" name="expense" placeholder="Expense..">
    </div>
    <div class="form-group">
      <label for="status"> Status:</label>
      <input type="text" id="status" name="status" placeholder="Status..">
    </div>


    <br><br>
    <div style="padding-left: 250px;">
      <button type="submit">Submit</button>
    </div>
  </form>