<!-- Product Prices -->
<div class="section-title" id="Product-Prices">
  <h2>Sell Products</h2>
</div>

<form action="http://127.0.0.1:5000/sellproducts" method="post" id="Product Prices">
  <div class="form-group">
    <label for="vendorId">Vendor's ID:</label>
    <input type="text" id="vendorID" name="vendorId" placeholder="Enter vendor's name...">
  </div>
 
  <div class="form-group">
      <label for="MilkCM500Quan">OASIS MILK CM 500 ML: </label>
      <input type="text" id="MilkCM500Quan" name="MilkCM500Quan" placeholder="Quantity....">
  </div>

    <div class="form-group">
      <label for="MilkCM200Quan">OASIS MILK CM 200 ML: </label>
      <input type="text" id="MilkCM200Quan" name="MilkCM200Quan" placeholder="Quantity....">
    </div>

    <div class="form-group">  
      <label for="MilkTM500Quan">OASIS MILK TM 500 ML: </label>
      <input type="text" id="MilkTM500Quan" name="MilkTM500Quan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="MilkTM200Quan">OASIS MILK TM 200 ML : </label>
      <input type="text" id="MilkTM200Quan" name="MilkTM200Quan" placeholder="Quantity....">
    </div> 

    <div class="form-group">
      <label for="Lassi200Quan">OASIS LASSI 200 ML:</label>
      <input type="text" id="Lassi200Quan" name="Lassi200Quan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="LassiCUP200Quan">OASIS LASSI CUP 200 ML:</label>
      <input type="text" id="LassiCUP200Quan" name="LassiCUP200Quan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="LassiMANGOCUP200Quan">OASIS LASSI MANGO CUP 200 ML:</label>
      <input type="text" id="LassiMANGOCUP200Quan" name="LassiMANGOCUP200Quan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Dahi200Quan">OASIS DAHI 200 ML:</label>
      <input type="text" id="Dahi200Quan" name="Dahi200Quan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Dahi500Quan">OASIS DAHI 500 ML:</label>
      <input type="text" id="Dahi500Quan" name="Dahi500Quan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Dahi2LTQuan">OASIS DAHI 2 LTR 3.0:</label>
      <input type="text" id="Dahi2LTQuan" name="Dahi2LTQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Dahi5LTQuan">OASIS DAHI 5 LTR 3.0:</label>
      <input type="text" id="Dahi5LTQuan" name="Dahi5LTQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Dahi10LTQuan">OASIS DAHI 10 LTR 3.0:</label>
      <input type="text" id="Dahi10LTQuan" name="Dahi10LTQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Dahi2LTQuan15">OASIS DAHI 2 LTR 1.5:</label>
      <input type="text" id="Dahi2LTQuan15" name="Dahi2LTQuan15" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Dahi5LTQuan15">OASIS DAHI 5 LTR 1.5:</label>
      <input type="text" id="Dahi5LTQuan15" name="Dahi5LTQuan15" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Dahi10LTQuan15">OASIS DAHI 10 LTR 1.5:</label>
      <input type="text" id="Dahi10LTQuan15" name="Dahi10LTQuan15" placeholder="Quantity....">
    </div>
        
    <div class="form-group">
      <label for="ButtermilkQuan">OASIS BUTTER MILK 500 ML:</label>
      <input type="text" id="ButtermilkQuan" name="ButtermilkQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Khova500Quan">OASIS KHOVA 500 GM:</label>
      <input type="text" id="Khova500Quan" name="Khova500Quan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Khoya1000Quan">OASIS KHOVA 1000 GM:</label>
      <input type="text" id="Khoya1000Quan" name="Khoya1000Quan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Shrikhand100Quan">OASIS SHRIKHAND 100 GM:</label>
      <input type="text" id="Shrikhand100Quan" name="Shrikhand100Quan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Shrikhand250Quan">OASIS SHRIKHAND 250 GM:</label>
      <input type="text" id="Shrikhand250Quan" name="Shrikhand250Quan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Ghee200Quan">OASIS GHEE 200 ML :</label>
      <input type="text" id="Ghee200Quan" name="Ghee200Quan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Ghee500Quan">OASIS GHEE 500 ML :</label>
      <input type="text" id="Ghee500Quan" name="Ghee500Quan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="Ghee15LTQuan">OASIS GHEE 15 LTR:</label>
      <input type="text" id="Ghee15LTQuan" name="Ghee15LTQuan" placeholder="Quantity....">
    </div>
    
    <div class="form-group">
      <label for="PaneerlooseQuan">PANEER LOOSE:</label>
      <input type="text" id="PaneerlooseQuan" name="PaneerlooseQuan" placeholder="Quantity....">
    </div>

    <div class="form-group">
      <label for="khovalooseQuan">KHOVA LOOSE:</label>
      <input type="text" id="khovalooseQuan" name="khovalooseQuan" placeholder="Quantity....">
    </div>
   


    <br><br>
    <div style="padding-left: 190px;">
      <button type="submit">Submit</button>
    </div>
  </form>